* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
1- static
2- relative
3- absolute
4- fixed
5- sticky
*/

/* 

parent - 200px / 100 = 2x(1 piece)

1% = 1 piece = 2px

20% = 20 pieces = 20 x 2 = 40px

*/

div.container {
  position: relative;
  width: 500px;
  background-color: black;
  margin: 0 auto;
}

div.element {
  width: 300px;
  height: 400px;
}

div.element1 {
  background-color: tomato;
  position: static;
  top: 100px;
}
div.element2 {
  position: relative;
  /* left: -50px;
  top: -50px; */
  right: 50px;
  bottom: 50px;
  background-color: red;
}
div.element3 {
  position: absolute;
  /* left: 50px;
  top: 50px; */
  /* right: 50px; */

  /* left: 50px; */
  background-color: green;
}
div.element4 {
  position: fixed;
  /* left: 0; */
  top: 0;
  right: 0;
  /* left: 100px; */
  background-color: blue;
}
div.element5 {
  background-color: yellow;
  position: sticky;
  top: 50px;
}

div.sticky {
  width: 200px;
  height: 400px;
  background-color: blueviolet;
  overflow-y: scroll;
}

div.nav {
  padding: 20px;
  background-color: green;
  position: sticky;
  top: 0px;
  right: 20px;
}
