.box {
  box-sizing: border-box;
  display: inline-block;
  /* box-sizing: content-box; */

  /* width: 300px;
  height: 300px; */
  background: #1f1f1f;
  color: white;

  padding: 70px;
  margin: 20px;
  border: 10px solid red;
}
